*{
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    background-color: hsl(185, 75%, 39%);
    background-image: url("https://raw.githubusercontent.com/DanielJ1337/profile-card-component/42a24d7706f0432ed9e41079ec608bfc41c2cc74/bg-pattern-top.svg"), url("https://raw.githubusercontent.com/DanielJ1337/profile-card-component/42a24d7706f0432ed9e41079ec608bfc41c2cc74/bg-pattern-top.svg");
    background-repeat: no-repeat, no-repeat;
    font-family: "Kumbh Sans", sans-serif;
    background-position: left bottom, right top;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.background{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


.profile-pic{
    /* position: relative; */
    border-radius: 100%;
    border: 5px solid #fff;
    width: 80px;
    margin-top: -4rem;

}

.person-information{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.3rem;
}

.age{
    margin-left: .5rem;
}

.city, .age, .subheading{
    color: hsl(227, 10%, 46%);
    opacity: 0.7;
}

.full-name{
    font-size: 1.3rem;
    font-weight: bold;
}

.card-conatiner{
    width: 75%;
}

.card{
    border-style: none;
    border-radius: 15px;
    max-width: 70%;
    position: relative;
    margin: auto auto;
    max-height: 330px;
}

.table-container table{
    width: 100%;
    margin: auto auto;
    padding: 1rem 3rem;
    border-collapse: separate;
}
tr{
    margin: 1rem 1rem 1rem 1rem;
}
.heading{
    font-size: 1.5rem ;
}

.sub-heading{
    margin-top: 0.1rem;
    font-size: 0.5rem;
}

@media(max-width: 375px){
    body{
        background-position: left bottom, right top;
    }

    .person-information{
        margin-top: 3rem;
    }
    
    .card{
        max-width: 75%;
     }
}
